img{
    max-width: 100%;
}

.container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
    width: 100%;
}

#output {
    margin: 0 5px;
    max-height: 0vh;
    justify-content: center;
}
