img{
  max-width: 100%;
  object-fit: cover;
  
}

.container {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

#output {
    margin: 0 5px;
    max-height: 0vh;
    justify-content: center;
}

.breakout {
  margin:1em -100%;
  margin:1em calc(50% - 50vw);
}
